<header class="section-header">
  <section class="header-main border-bottom" id="headernav">
    <div class="container">
      <div class="rowheadernav">
        <div class="columnheadernav">
          <div class="">
            <a href="/home">
              <img
                src="../../../../assets/images-removebg-preview.png"
                alt=""
                class="medexlogo"
              />
            </a>
          </div>
        </div>
        <div class="columnheadernav">
          <div class="">
            <form action="#" class="search">
              <div class="input-group w-100">
                <input type="text" class="form-control" placeholder="Search" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
            <!-- search-wrap .end// -->
          </div>
        </div>
        <div class="columnheadernav">
          <div class="widgets-wrap float-md-right">
            <div class="widget-header mr-3">
              <a href="" class="icon icon-sm rounded-circle border"
                ><i class="fa fa-shopping-cart"></i
              ></a>
              <span class="badge badge-pill badge-danger notify">0</span>
            </div>
            <div class="widget-header icontext">
              <a href="/auth/profile" class="icon icon-sm rounded-circle border"
                ><i class="fa fa-user"></i
              ></a>
              <div class="text">
                <span class="text-muted">Welcome!</span>
                <div>
                  <a href="/auth/login">Sign in</a> |
                  <a href="/auth/register"> Register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </section>
  <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#main_nav"
        aria-controls="main_nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div  class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav nav-links">
          <!-- <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#"
              >Categories <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Foods and Drink</a>
              <a class="dropdown-item" href="#">Home interior</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Category 1</a>
              <a class="dropdown-item" href="#">Category 2</a>
              <a class="dropdown-item" href="#">Category 3</a>
            </div>
          </li> -->
          <li class="nav-item">
            <a class="nav-link hover-underline-animation desktop-item" href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation desktop-item"
              >Clinic Furniture
              <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>

            <!-- <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Categories <i class="fa fa-angle-down" aria-hidden="true"></i
            ></label> -->
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <!-- <header>Design Services</header> -->
                  <ul class="mega-links">
                    <li><a href="/home/category/167" (click)="onItemSelector(167)">Couches and Plinths</a></li>
                    <li><a href="/home/category/183" (click)="onItemSelector(183)">Heat Therapy Spares</a></li>
                    <li><a href="/home/category/184" (click)="onItemSelector(184)">Spare Parts</a></li>
                    <li><a href="/home/category/175" (click)="onItemSelector(175)">Occupational Therapy Equipment</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li>
                      <a href="/home/category/178" (click)="onItemSelector(178)">Suspension Frames,Wall Bars & Pulleys</a>
                    </li>
                    <li>
                      <a href="/home/category/169" (click)="onItemSelector(169)">Electrotherapy & Ultrasound Accessories</a>
                    </li>
                    <li><a href="/home/category/171" (click)="onItemSelector(171)">Heat Therapy Accessories</a></li>
                    <li><a href="/home/category/170" (click)="onItemSelector(170)">Extremity Exercisers</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/172" (click)="onItemSelector(172)">Hot and Cold Therapy</a></li>
                    <li><a href="/home/category/173" (click)="onItemSelector(173)">Massage Tools and Lotions</a></li>
                    <li><a href="/home/category/174" (click)="onItemSelector(174)">Mirrors, Screens and Stands</a></li>
                    <li><a href="/home/category/176" (click)="onItemSelector(176)">Paediatric Seating</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/179" (click)="onItemSelector(179)">Traction</a></li>
                    <li><a href="/home/category/177" (click)="onItemSelector(177)">Splinting</a></li>
                    <li><a href="/home/category/168" (click)="onItemSelector(168)">Diagnostic</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Exercise <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Categories <i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/198" (click)="onItemSelector(198)">Occupational Therapy Equipment</a></li>
                    <li><a href="/home/category/199" (click)="onItemSelector(199)">Resistance Bands</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/195" (click)="onItemSelector(195)">Extremity Exercisers</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/196" (click)="onItemSelector(196)">Hydrotherapy</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/197" (click)="onItemSelector(197)">Inflatable Balls and Rolls</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Evaluation <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Categories <i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/192" (click)="onItemSelector(192)">Diagnostic</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/194" (click)="onItemSelector(194)">Range of Motion</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/193" (click)="onItemSelector(193)">Lung Capacity</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Orthopaedics <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Categories <i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/208" (click)="onItemSelector(208)">Back Supports and Braces</a></li>
                    <li><a href="/home/category/220" (click)="onItemSelector(220)">Wrist Supports and Braces</a></li>
                    <li><a href="/home/category/212" (click)="onItemSelector(212)">Finger Supports and Braces</a></li>
                    <li><a href="/home/category/211" (click)="onItemSelector(211)">Extremity Exercisers</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/207" (click)="onItemSelector(207)">Ankle Supports and Braces</a></li>
                    <li><a href="/home/category/216" (click)="onItemSelector(216)">Neck Supports and Braces</a></li>
                    <li><a href="/home/category/215" (click)="onItemSelector(215)">Knee Supports and Braces</a></li>
                    <li><a href="/home/category/217" (click)="onItemSelector(217)">Orthotic Materials</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/218" (click)="onItemSelector(218)">Shoulder Supports and Braces</a></li>
                    <li><a href="/home/category/219" (click)="onItemSelector(219)">Walking Braces</a></li>
                    <li><a href="/home/category/213" (click)="onItemSelector(213)">Foot Supports</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/210" (click)="onItemSelector(210)">Elbow Supports and Braces</a></li>
                    <li><a href="/home/category/214" (click)="onItemSelector(214)">Hip Supports and braces</a></li>
                    <li><a href="/home/category/209" (click)="onItemSelector(209)">Compression Therapy Products</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Mobility Aids <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Categories<i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/200" (click)="onItemSelector(200)">Bath Safety</a></li>
                    <li><a href="/home/category/205" (click)="onItemSelector(205)">Walker</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/203" (click)="onItemSelector(203)">Extremity Exercisers</a></li>
                    <li><a href="/home/category/187" (click)="onItemSelector(187)">Spare Parts</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/202" (click)="onItemSelector(202)">Commode</a></li>
                    <li><a href="/home/category/206" (click)="onItemSelector(206)">WheelChair</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/204" (click)="onItemSelector(204)">Rollator</a></li>
                    <li><a href="/home/category/201" (click)="onItemSelector(201)">Canes and Crutches</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Electrotherapy <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Categories<i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/188" (click)="onItemSelector(188)">Clinical Electrotherapy</a></li>
                    <li><a href="/home/category/185" (click)="onItemSelector(185)">Clinical Electrotherapy Spare Parts</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li>
                      <a href="/home/category/191" (click)="onItemSelector(191)">Electrotherapy & Ultrasound Accessories</a>
                    </li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/189" (click)="onItemSelector(189)">Compression Therapy</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/190" (click)="onItemSelector(190)">Electrodes and Gels</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >PPE<i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Categories <i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/221"  (click)="onItemSelector(221)">Face Mask</a></li>
                    <li><a href="/home/category/222" (click)="onItemSelector(222)">Faceshield</a></li>
                    <li><a href="/home/category/226" (click)="onItemSelector(226)">Sun Lotion</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/225" (click)="onItemSelector(225)">Sanitizer</a></li>
                    <li><a href="/home/category/224" (click)="onItemSelector(224)">IR Thermometer</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/167" (click)="onItemSelector(167)">Goggles</a></li>
                    <li><a href="/home/category/223" (click)="onItemSelector(223)">Gloves</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Pressure Care <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Categories <i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/227" (click)="onItemSelector(227)">Compression Therapy Products</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/228" (click)="onItemSelector(228)">Pressure Relief Cushions</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Tapes and Strapping
              <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Categories <i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="/home/category/229" (click)="onItemSelector(229)">Kinesiology</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="#"></a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- collapse .// -->
    </div>
    <!-- container .// -->
  </nav>
</header>
<br />
<!-- section-header.// -->
