<header class="section-header">
  <section class="header-main border-bottom" id="headernav">
    <div class="container">
      <div class="rowheadernav">
  <div class="columnheadernav" >
    <div class="" >
          <a href="/home">
            <img src="../../../../assets/images-removebg-preview.png" alt="" class="medexlogo">
          </a>
        </div>
  </div>
  <div class="columnheadernav">
    <div class="">
          <form action="#" class="search">
            <div class="input-group w-100">
              <input type="text" class="form-control" placeholder="Search" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- search-wrap .end// -->
        </div>
  </div>
  <div class="columnheadernav">
    <div class="widgets-wrap float-md-right">
            <div class="widget-header mr-3">
              <a href="" class="icon icon-sm rounded-circle border"
                ><i class="fa fa-shopping-cart"></i
              ></a>
              <span class="badge badge-pill badge-danger notify">0</span>
            </div>
            <div class="widget-header icontext">
              <a href="/auth/profile" class="icon icon-sm rounded-circle border"
                ><i class="fa fa-user"></i
              ></a>
              <div class="text">
                <span class="text-muted">Welcome!</span>
                <div>
                  <a href="/auth/login">Sign in</a> |
                  <a href="/auth/register"> Register</a>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>
      <div class="row">
        <!-- <div class="col-sm-4">
          <a href="/home">
            <img src="../../../../assets/images-removebg-preview.png" alt="" class="medexlogo">
          </a>
        </div> -->
        <!-- <div class="col-sm-4">
          <form action="#" class="search">
            <div class="input-group w-50">
              <input type="text" class="form-control" placeholder="Search" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div> -->
        <!-- col.// -->
        <!-- <div class="col-sm-4">
          <div class="widgets-wrap float-md-right">
            <div class="widget-header mr-3">
              <a href="#" class="icon icon-sm rounded-circle border"
                ><i class="fa fa-shopping-cart"></i
              ></a>
              <span class="badge badge-pill badge-danger notify">0</span>
            </div>
            <div class="widget-header icontext">
              <a href="/auth/profile" class="icon icon-sm rounded-circle border"
                ><i class="fa fa-user"></i
              ></a>
              <div class="text">
                <span class="text-muted"><strong>Welcome!</strong></span>
                <div>
                  <a href="/auth/login"><strong>Sign in</strong></a> |
                  <a href="/auth/register"><strong>Register</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- col.// -->
      </div>
    </div>
  </section>
  <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#main_nav"
        aria-controls="main_nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav nav-links">
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#"
            >Categories <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Foods and Drink</a>
              <a class="dropdown-item" href="#">Home interior</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Category 1</a>
              <a class="dropdown-item" href="#">Category 2</a>
              <a class="dropdown-item" href="#">Category 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation desktop-item" href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation desktop-item" href="#">Shop</a>
          </li>

          <li class="nav-item">
            <a class="nav-link hover-underline-animation desktop-item" href="#"
              >Clinic Furniture
              <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>

            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item">Categories <i class="fa fa-angle-down" aria-hidden="true"></i></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <!-- <header>Design Services</header> -->
                  <ul class="mega-links">
                    <li><a href="#">Couches and Plinths</a></li>
                    <li><a href="#">Heat Therapy Spares</a></li>
                    <li><a href="#">Spare Parts</a></li>
                    <li><a href="#">Occupational Therapy Equipment</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li>
                      <a href="#">Suspension Frames,Walls Bars & Pulleys</a>
                    </li>
                    <li>
                      <a href="#">Electrotherapy and Ultrasound Accesories</a>
                    </li>
                    <li><a href="#">Heat Therapy Accessories</a></li>
                    <li><a href="#">Extremity Exercisers</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="#">Hot and Cold Therapy</a></li>
                    <li><a href="#">Massage Tools and Lotions</a></li>
                    <li><a href="#">Mirrors, Screens and Stands</a></li>
                    <li><a href="#">Paediatric Seating</a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href="#">Traction</a></li>
                    <li><a href="#">Splinting</a></li>
                    <li><a href="#">Diagnostic</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Exercise <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Categories <i class="fa fa-angle-down" aria-hidden="true"></i></label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Occupational Therapy Equipment</a></li>
                  <li><a href="#">Resistance Bands</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Extremity Exercisers</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Hydrotherapy</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Inflatable Balls and Rolls</a></li>
                </ul>
              </div>
            </div>
          </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Evaluation <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Categories <i class="fa fa-angle-down" aria-hidden="true"></i></label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Diagnostic</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Range of Motion</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Lung Capacity</a></li>
                </ul>
              </div>
            </div>
          </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Orthopaedics <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Categories <i class="fa fa-angle-down" aria-hidden="true"></i></label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Back Supports and Braces</a></li>
                  <li><a href="#">Wrist Supports and Braces</a></li>
                  <li><a href="#">Finger Supports and Braces</a></li>
                  <li><a href="#">Extremity Exercisers</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Ankle Supports and Braces</a></li>
                  <li><a href="#">Neck Supports and Braces</a></li>
                  <li><a href="#">Knee Supports and Braces</a></li>
                  <li><a href="#">Orthotic Materials</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Shoulder Supports and Braces</a></li>
                  <li><a href="#">Walking Braces</a></li>
                  <li><a href="#">Foot Supports</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Elbow Supports and Braces</a></li>
                  <li><a href="#">Hip Supports and braces</a></li>
                  <li><a href="#">Compression Therapy Products</a></li>
                </ul>
              </div>
            </div>
          </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Mobility Aids <i class="fa fa-angle-down" aria-hidden="true"></i
            ></a>
            <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Categories<i class="fa fa-angle-down" aria-hidden="true"></i></label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Bath Safety</a></li>
                  <li><a href="#">Walker</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Extremity Exercisers</a></li>
                  <li><a href="#">Spare Parts</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Commode</a></li>
                  <li><a href="#">WheelChair</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">Rollator</a></li>
                  <li><a href="#">Canes and Crutches</a></li>
                </ul>
              </div>
            </div>
          </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              >Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-underline-animation" href="#"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
      <!-- collapse .// -->
    </div>
    <!-- container .// -->
  </nav>
</header>
<br>
<!-- section-header.// -->
