<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm" >
  <div class="container">
    <mat-spinner *ngIf="loadingProductdetails"  diameter="30" color="accent" value="60">
    </mat-spinner>
    <div class="rowproductdetail" *ngFor="let item of singleProduct">
      <div class="columnproductdetail1" >
      <div class="card mb-3">
        <img class="card-img-top" alt="Card image cap" src="https://mea007-medex-test-3929864.dev.odoo.com/web/image/product.template/{{item.id}}/image_512" id="productimage" style="height:450px">
  <div class="card-body">

  </div>
</div>
      </div>
      <div class="columnproductdetail2" >
        <div class="card w-100">
          <div class="card-body">
            <h3 class="card-title" id="producttitle"><b>{{item.name}}</b></h3>
            <span class="fa-stack fa-2x" id="titleicon">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="far fa-heart fa-stack-1x fa-inverse" style="color: #ff0000;"></i>

            </span>

            <hr />
            <p class="card-text">indicators</p>
            <ol>
              <li>{{item.desc_sale}}</li>
            </ol>

            <p class="card-text">Ksh.{{item.price}}</p>

            <hr />
            <div class="arrowscroll">
              <input type="number" value="{{item.available}}" min="1" />
            </div>

            <div>
              <button class="button button2">
                <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp; Add to Cart
              </button>
              <button class="button button1">
                <span class="glyphicon glyphicon-retweet"></span>
              </button>
            </div>
            <hr />
            <div>
             <!-- <h1>tester</h1> -->
             <p style="color: #25d366;"><strong>{{item.available}} Unit Available</strong></p>
            </div>
            <hr />
            <!-- <div>
              <p class="productlogotext" style="color: #25d366;"><strong>{{item.available}} Unit Available</strong></p>
    
            </div> -->
            <!-- <hr> -->
            <div>
              <p class="productlogotext"><strong>{{item.brand_name}}</strong></p>
              <img
                src="https://mea007-medex-test-3929864.dev.odoo.com/web/image/dr.product.brand/{{item.brand_id}}/image"
                alt="logo"
                class="medexproductlogo"
              />
            </div>

            <br />
            <br />
            <br />
            <hr />

            <div>
              <p>Terms and Conditions</p>
              <div class="termsconditions">
                <div>
                  <i class="fas fa-tag fa-2x"></i>
                  <p>100% Original</p>
                </div>
                <div>
                  <i class="fas fa-rocket fa-2x"></i>
                  <p>Free Delivery</p>
                </div>
                <div>
                  <i class="fas fa-sync fa-2x"></i>
                  <p>30 Days Return</p>
                </div>
              </div>
            </div>

            <hr />

            <div class="socialicons">
              <p>Share this product:</p>
              <a href="http://"
                ><i class="fab fa-facebook-f fa-2x" style="color: #3b5998"></i
              ></a>
              <a href="http://"
                ><i class="fab fa-twitter fa-2x" style="color: #1da1f2"></i
              ></a>
              <a href="http://"
                ><i class="fab fa-linkedin-in fa-2x" style="color: #2867b2"></i
              ></a>
              <a href="http://"
                ><i class="fab fa-whatsapp fa-2x" style="color: #25d366"></i
              ></a>
              <a href="http://"
                ><i class="fab fa-pinterest fa-2x" style="color: #c8232c"></i
              ></a>
              <a href="http://"
                ><i class="fas fa-envelope fa-2x" style="color: #ff0000"></i
              ></a>
            </div>

            <!-- <mat-icon class="material-icons--rounded size--2">favorite_outline</mat-icon> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="tabs-section">
  <mat-tab-group>
    <mat-tab class="mat-tab-labels" label="Related Products">
<!-- <h1>{{item.name}}</h1> -->

<div class="row">
  <!-- <div  *ngFor="let item of productList"> -->
    <mat-spinner *ngIf="loadingProductdetails"  diameter="30" color="accent" value="60">
    </mat-spinner>
    <div class="col-md-3" *ngFor="let item of relatedProduct">

      <div href="#" class="card card-product-grid" >
          <a href="/home/productdata/{{item.id}}" class="img-wrap">
            <img src="https://mea007-medex-test-3914896.dev.odoo.com/web/image/product.template/{{item.id}}/image_512">
          </a>
          <figcaption class="info-wrap">
              <span class="title"><strong>{{item.name}}</strong></span>
              <div class="price mt-1"><strong>Ksh.{{item.price}}</strong></div>
          </figcaption>
      </div>
  </div>
<!-- </div> -->
      </div>
    </mat-tab>
      <mat-tab class="mat-tab-labels" label="Product Features">
        <h1>testing mat_tabs</h1>
      </mat-tab>
      <mat-tab class="mat-tab-labels" label="Reviews">
        <h1>testing mat_tabs</h1>
      </mat-tab>
      <mat-tab class="mat-tab-labels" label="Delivery">
        <h1>testing mat_tabs</h1>
      </mat-tab>
      <mat-tab class="mat-tab-labels" label="Returns">
        <h1>testing mat_tabs</h1>
      </mat-tab>
    </mat-tab-group>
</section>
