<!-- ========================= FOOTER ========================= -->

<footer class="section-footer border-top bg">
  <div class="rowtopfooter">
    <div class="column1">
      <h5>Product Categories</h5>
      <hr style="width: 40%; background-color: #aaa"/>
      <div class="productcategory">
        <ul>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Mobility Aids</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Orthopaedics</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp;
              Electrotherapy</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Clinic
              Furniture</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Evaluation</a
            >
          </li>
          <li>
            <a href=""><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; PPE</a>
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Exercise</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Pressure Care</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Tapes and
              Strappings</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="column2">
      <h5>Account & other info</h5>
      <hr style="width: 40%; background-color: #aaa"/>
      <div class="otherinfo">
        <ul>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; My account</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Your Orders</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Shipping Info</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Delivery data</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Our Policy</a
            >
          </li>
          <br />
          <h5>About us</h5>
          <hr style="width: 20%; background-color: #aaa"/>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; My account</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Your Orders</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Shipping Info</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Delivery data</a
            >
          </li>
          <li>
            <a href=""
              ><i class="fas fa-chevron-right" style="color: #aaa"></i>&nbsp;&nbsp; Our Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="column3">
      <h5>Stay informed</h5>
      <hr style="background-color: #aaa"/>
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text" style="background-color: white;">
              <i class="far fa-envelope fa-2x" style="color: #aaa; "></i>
            </div>
          </div>
          <input
            type="text"
            class="form-control"
            id="inlineFormInputGroup"
            placeholder="your email..."
          />
        </div>
        <button class="button">
          <i class="far fa-paper-plane" style="color: white; background-color: #ff0000;"></i>&nbsp; Subscribe*
        </button>
        <p>
          * Subscribe to our newsletter to receive early discount offers and new
          products info.
        </p>
        <br />
        <br />
        <hr style="background-color: #aaa"/>
        <br />
        <h4>We accept</h4>
        <hr style="background-color: #aaa"/>
        <div class="footerlogos">
          <img
            src="../../../../assets/images/footer/visa.png"
            alt="visa"
          />&nbsp;
          <img
            src="../../../../assets/images/footer/american_express.png"
            alt="american-express"
          />&nbsp;
          <img
            src="../../../../assets/images/footer/maestro.png"
            alt="maestro"
          />&nbsp;
          <img src="../../../../assets/images/footer/mpesa.png" alt="mpesa" />
        </div>
      </div>
    </div>
  </div>
  <!-- row.// -->

  <!-- footer-top.// -->

  <section>
    <div class="container">
      <div class="row">
        <div class="column" >
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rocket fa-stack-1x fa-inverse" style="color: #ff0000;"></i>
          </span>
          <br />
          <br />
          <div class="vl1"></div>
          <h5>Quick Delivery</h5>
          <p>Delivery in 1 or 2 days</p>
        </div>
        <div class="column" >
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse" style="color: #ff0000;"></i>
          </span>
          <br />
          <br />
          <div class="vl2"></div>
          <h5>Quality Products</h5>
          <p>100% Genuine product</p>
        </div>
        <div class="column" >
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone-alt fa-stack-1x fa-inverse" style="color: #ff0000;"></i>
          </span>
          <br />
          <br />
          <div class="vl3"></div>
          <h5>Customer Support</h5>
          <p>Friendly 24/7 customer support</p>
        </div>
        <div class="column" >
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-money-bill-alt fa-stack-1x fa-inverse" style="color: #ff0000;"></i>
          </span>
          <br />
          <br />
          <h5>Secure payments</h5>
          <p>Guaranteed secure payments</p>
        </div>
      </div>
    </div>
  </section>

  <!-- //container -->
</footer>

<!-- ========================= FOOTER END // ========================= -->
