<div class="row">
    <mat-spinner *ngIf="loadingCategory"  diameter="60" color="red" value="60" style="align-items: center;">
    </mat-spinner>
      <div class="col-md-3" *ngFor="let item of categoryProduct">
        
          <div href="#" class="card card-product-grid" >
              <a href="/home/productdata/{{item.id}}" class="img-wrap">
                  <img src="https://mea007-medex-test-3836839.dev.odoo.com/web/image/product.template/{{item.id}}/image_512">
                  <!-- <img src="https://mea007-medex-test-3836839.dev.odoo.com/web/image/product.product/{{item.id}}/image_512"> -->

               </a>
              <figcaption class="info-wrap">
                  <span class="title"><strong>{{item.name}}</strong></span>
                  <div class="price mt-1"><strong>Ksh.{{item.price}}</strong></div>
              </figcaption>
          </div>
      </div>
</div>